{% extends "base.html" %}

{% block content %}

<div style=" background: #CDD6DB; opacity: .91; color: #000000; padding: 10px 30px">
	<p style="text-align: center; font-size: 30px; padding: 20px"><b>Заявка на бронирование тура</b></p>
	<p style="text-align: center">Забронируйте заранее понравившийся вам тур, и наш оператор свяжется с вами в ближайшее время.</p>
		
	
	<form id=form  method="post" style="text-align: center; padding: 40px 0px; width: 700px; margin: 0 auto;">	
	  <div style="text-align: left">
		<div class="form-group">
            <label>ФИО</label>
            <input name="name" class="form-control">
        </div>
		<div class="form-group">
            <label>Мобильный телефон</label>
            <input name="telefon" type="tel" class="form-control">
        </div>
		<div class="form-group">
            <label>Количество человек</label>
            <input type="text" id="input" name="kol_vo" class="form-control">
        </div>
		<script>
		  input.oninput = function() {
			result.innerHTML = input.value;
			sum.innerHTML = input.value* {{tyr.Cena}};
		  };
		</script>
		<div class="form-group">
            <label>Информация о выбранном туре</label>
			<div>
				Откуда: {{tyr.Otkuda}} <br>
				Куда: {{tyr.Kuda}} <br>
				Дата: {{tyr.Data}} <br>
				Дней: {{tyr.Dni}} <br>
				Отель: {{tyr.Hotel}} <br>
				Уровень: {{tyr.Level}} <br>
				Питание: {{tyr.Pitanie}} <br>
				Количество человек: <span id="result"></span> <br>
				Cтоимость: <span id="sum"></span>			
			</div>                                    
        </div>
	  </div>
	  <button class="btn" style="padding: 15px 40px; background: black; color: white;">Отправить</button>
	</form>
	
	
	
</div >



{% endblock %}